<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,19}}</string>
                <key>sourceSize</key>
                <string>{34,21}</string>
            </dict>
            <key>ufo-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{118,116}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{118,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ufo-off-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{118,106}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{118,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ufo-off-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,120},{118,106}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{118,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ufo-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{108,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{108,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ufo-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,228},{118,116}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{118,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ufo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{108,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{108,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-art-hd.pvr</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fc914369fbb1191c742c0f103664904$</string>
            <key>textureFileName</key>
            <string>game-art-hd.pvr</string>
        </dict>
    </dict>
</plist>
